workflows/hello-world-kafka.json
{
  "name": "Hello World - Kong to Kafka",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://redpanda-0:28082/topics/test-events",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "records",
              "value": "=[{\"value\": {{ $json }}}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Kafka",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Event sent to Kafka\", \"data\": $json } }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send to Kafka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Kafka": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
