workflows/netsuite-create-sales-order.json
{
  "name": "NetSuite - Create Sales Order from Kafka",
  "nodes": [
    {
      "parameters": {
        "topic": "orders",
        "groupId": "netsuite-sales-order-consumer",
        "brokers": "redpanda:29092",
        "options": {
          "allowTopicCreation": false,
          "autoCommit": true
        }
      },
      "name": "Kafka Trigger - Orders",
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse order from Kafka message\nconst kafkaMessage = $input.item.json;\nconst order = JSON.parse(kafkaMessage.value);\n\n// Map to NetSuite Sales Order format\nconst netsuiteOrder = {\n  entity: {\n    id: order.customer_id  // NetSuite customer internal ID\n  },\n  tranDate: order.order_date || new Date().toISOString().split('T')[0],\n  otherRefNum: order.external_order_id,  // PO number\n  memo: order.notes || 'Created via integration',\n  custbody_source_system: 'Samsara',  // Custom field\n  item: {\n    items: order.line_items.map(item => ({\n      item: { id: item.netsuite_item_id },\n      quantity: item.quantity,\n      rate: item.unit_price,\n      amount: item.quantity * item.unit_price,\n      description: item.description\n    }))\n  },\n  // Shipping address\n  shipAddress: order.shipping_address ? {\n    addressee: order.shipping_address.name,\n    addr1: order.shipping_address.street1,\n    addr2: order.shipping_address.street2,\n    city: order.shipping_address.city,\n    state: order.shipping_address.state,\n    zip: order.shipping_address.zip,\n    country: order.shipping_address.country\n  } : null\n};\n\nreturn {\n  json: {\n    netsuite_payload: netsuiteOrder,\n    original_order: order\n  }\n};"
      },
      "name": "Transform to NetSuite Format",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.NETSUITE_ACCOUNT_ID}}.suitetalk.api.netsuite.com/services/rest/record/v1/salesOrder",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netSuiteOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.netsuite_payload }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Create Sales Order in NetSuite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract NetSuite response\nconst response = $input.item.json;\nconst original = $input.item.json.original_order;\n\nreturn {\n  json: {\n    success: true,\n    netsuite_sales_order_id: response.id,\n    netsuite_order_number: response.tranId,\n    external_order_id: original.external_order_id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Format Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://redpanda:28082/topics/netsuite-updates",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "records",
              "value": "=[{\"value\": {{ $json }}}]"
            }
          ]
        }
      },
      "name": "Confirm to Kafka",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Handle NetSuite API errors\nconst error = $input.item.json;\nconst original = $input.item.json.original_order || {};\n\nreturn {\n  json: {\n    workflow: 'netsuite-create-sales-order',\n    error_message: error.message || error['o:errorDetails']?.[0]?.detail || 'Unknown error',\n    error_code: error['o:errorDetails']?.[0]?.['o:errorCode'],\n    netsuite_account: process.env.NETSUITE_ACCOUNT_ID,\n    original_order_id: original.external_order_id,\n    timestamp: new Date().toISOString(),\n    retry_count: (original.retry_count || 0) + 1,\n    should_retry: error.status === 429 || error.status >= 500,  // Retry on rate limit or server errors\n    full_error: error\n  }\n};"
      },
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://redpanda:28082/topics/errors-dlq",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "records",
              "value": "=[{\"value\": {{ $json }}}]"
            }
          ]
        }
      },
      "name": "Send to DLQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_retry }}",
              "value2": true
            },
            {
              "value1": "={{ $json.retry_count }}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 600]
    }
  ],
  "connections": {
    "Kafka Trigger - Orders": {
      "main": [
        [
          {
            "node": "Transform to NetSuite Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to NetSuite Format": {
      "main": [
        [
          {
            "node": "Create Sales Order in NetSuite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Order in NetSuite": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Confirm to Kafka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Send to DLQ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
