workflows/samsara-webhook-to-kafka.json
{
  "name": "Samsara Webhook to Kafka",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "samsara",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "name": "Samsara Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "samsara-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Parse Samsara webhook event.\n// Upstream Kong validates X-Samsara-Signature HMAC before we get here.\n// We still strip PII before publishing to Kafka.\nconst payload = $input.item.json;\n\nconst redact = (s) => (s ? 'REDACTED' : undefined);\n\nconst event = {\n  source: 'samsara',\n  event_type: payload.eventType,\n  event_id: payload.eventId,\n  timestamp: payload.time || new Date().toISOString(),\n  received_at: new Date().toISOString(),\n  vehicle: {\n    id: payload.data?.vehicle?.id,\n    name: payload.data?.vehicle?.name\n  },\n  driver: {\n    // Keep ID for correlation, redact PII\n    id: payload.data?.driver?.id,\n    name: redact(payload.data?.driver?.name)\n  },\n  location: {\n    lat: payload.data?.location?.latitude,\n    lng: payload.data?.location?.longitude,\n    heading: payload.data?.location?.heading,\n    speed: payload.data?.location?.speedMilesPerHour\n    // reverseGeo / formattedLocation omitted (PII-adjacent)\n  },\n  geofence: {\n    id: payload.data?.geofence?.id,\n    name: payload.data?.geofence?.name\n  },\n  // Partition key for Kafka - ordering per vehicle\n  _key: String(payload.data?.vehicle?.id || payload.eventId || 'unknown')\n};\n\nreturn [{ json: event }];"
      },
      "name": "Parse & Redact",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "topic": "samsara-events",
        "sendInputData": false,
        "message": "={{ JSON.stringify($json) }}",
        "options": {
          "acks": -1,
          "compression": "gzip",
          "maxInFlightRequests": 5,
          "headers": {
            "content-type": "application/json",
            "schema-version": "1"
          },
          "useSchemaRegistry": false
        }
      },
      "name": "Produce to Kafka",
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "kafka": {
          "id": "redpanda",
          "name": "Redpanda (internal)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"event_id\": $json.event_id, \"event_type\": $json.event_type } }}",
        "options": {
          "responseCode": 202
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build DLQ record\nconst err = $input.item.json;\nreturn {\n  json: {\n    workflow: 'samsara-webhook-to-kafka',\n    error: err.message || err.error || 'unknown',\n    timestamp: new Date().toISOString(),\n    original: err\n  }\n};"
      },
      "name": "Build DLQ Record",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "topic": "errors-dlq",
        "sendInputData": false,
        "message": "={{ JSON.stringify($json) }}",
        "options": {
          "acks": -1,
          "compression": "gzip"
        }
      },
      "name": "Send to DLQ",
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [850, 500],
      "credentials": {
        "kafka": {
          "id": "redpanda",
          "name": "Redpanda (internal)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"processing failed\" } }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Samsara Webhook": {
      "main": [[{ "node": "Parse & Redact", "type": "main", "index": 0 }]]
    },
    "Parse & Redact": {
      "main": [[{ "node": "Produce to Kafka", "type": "main", "index": 0 }]]
    },
    "Produce to Kafka": {
      "main":  [[{ "node": "Success Response",  "type": "main", "index": 0 }]],
      "error": [[{ "node": "Build DLQ Record", "type": "main", "index": 0 }]]
    },
    "Build DLQ Record": {
      "main": [[{ "node": "Send to DLQ", "type": "main", "index": 0 }]]
    },
    "Send to DLQ": {
      "main": [[{ "node": "Error Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "timezone": "America/Los_Angeles",
    "errorWorkflow": ""
  }
}
